.container {
    width: 70%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  .contact-details, .contact-form {
    width: 48%;
  }
  .contact-details h2, .contact-form h2 {
    color: #333;
    text-align: center;
    padding-bottom: 30px;
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .sub-btn{
    background: #333 !important;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .contact-form button:disabled {
    background: #bbb;
    cursor: not-allowed;
  }
  .error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
  }
  .contact-details p{
        font-size: 17px;
        padding-bottom: 30px;
        line-height: 18px;
  }
  @media(max-width:1200px){
    .container{
        width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    .contact-details, .contact-form {
      width: 100%;
    }
    .contact-details h2{
        margin-top: 50px;
    }
  }

  @media(max-width:585px){
 .container{
    width: 80%;
    margin: auto;
 }
  }